.pmr_tab {
    .patient_order_wrap {
        .patient_order_head {
            .p_head {
                &.sr {
                    width: 5%;
                }

                &.ph {
                    width: 15%;
                }

                &.pno {
                    width: 10%;
                }

                &.pr {
                    width: 14%;
                }

                &.dd {
                    width: 10%;
                }

                &.phr {
                    width: 8%;
                }

                &.st {
                    width: 13%;
                }
            }
        }

        .scroll_wrapper {
            .patient_order_detail {
                .patient_order_content {

                    .patient_order_d {
                        &.sr {
                            width: 5%;
                        }

                        &.ph {
                            width: 15%;
                        }

                        &.pno {
                            width: 10%;
                        }

                        &.pr {
                            width: 14%;

                            span {
                                display: block;
                            }
                        }

                        &.dd {
                            width: 10%;

                            span {
                                display: block;
                            }
                        }

                        &.phr {
                            width: 8%;
                        }

                        &.st {
                            width: 13%;

                            &.call_type {
                                svg {
                                    display: block;
                                    margin-top: 5px;
                                }

                                .with_help {
                                    @include -flex-align(center);

                                    svg {
                                        margin-right: 10px;
                                    }

                                    a {
                                        margin-top: 5px;
                                    }

                                    &.rejected {
                                        color: $notes;


                                        svg {
                                            margin-left: 10px;
                                            margin-top: 0;

                                            path {
                                                fill: $notes;
                                            }
                                        }
                                    }

                                    &.reschdule {
                                        a {
                                            color: $btn-color;
                                            text-decoration: underline;

                                        }
                                    }

                                    &.completed {

                                        color: $todo-text;
                                    }
                                }


                            }
                        }

                        .more_wrap {

                            width: 135px;

                            a {
                                span {
                                    .nos {
                                        margin-left: 20px;
                                        float: right;
                                        @include border-radius(10px);
                                        padding: 3px 8px;
                                        font-size: 11px;
                                        color: $white-color;
                                        background: $reminder;
                                    }
                                }
                            }
                        }


                    }
                }

            }
        }


    }
}

.pmr_tab {
    .color-red {
        color: #FF7885;
    }

    .light-green-text {
        color: #609FAE;
    }

    .ph-r-t {
        padding: 5px 10px;
        @include border-radius(10px);
        font-weight: 300;
        font-size: $font-12;

    }

    .blue-color {
        color: #2056ED;
        background: #F3F6FF;
    }

    .pink-color {
        color: #DF0069;
        background: #FFF6FA;
    }

    .green-bg {
        background: #6BB9CB !important;
    }

    .p_head {
        &.pr {
            width: 10%;
        }
    }
}

/* start xray tab */
.xray_tab {
    .patient_order_wrap {
        .patient_order_head {
            .p_head {
                &.sr {
                    width: 7%;
                }

                &.ph {
                    width: 15%;
                }

                &.pno {
                    width: 10%;
                }

                &.pr {
                    width: 15%;
                }

                &.dd {
                    width: 15%;
                }

                &.phr {
                    width: 10%;
                }

                &.st {
                    width: 13%;
                }
            }
        }

        .scroll_wrapper {
            .patient_order_detail {
                .patient_order_content {

                    .patient_order_d {
                        &.sr {
                            width: 7%;
                        }

                        &.ph {
                            width: 15%;
                        }

                        &.pno {
                            width: 10%;
                        }

                        &.pr {
                            width: 15%;
                        }

                        &.dd {
                            width: 15%;
                        }

                        &.phr {
                            width: 10%;
                        }

                        &.st {
                            width: 13%;

                            &.call_type {
                                svg {
                                    display: block;
                                    margin-top: 5px;
                                }

                                .with_help {
                                    @include -flex-align(center);

                                    svg {
                                        margin-right: 10px;
                                    }

                                    a {
                                        margin-top: 5px;
                                    }

                                    &.rejected {
                                        color: $notes;


                                        svg {
                                            margin-left: 10px;
                                            margin-top: 0;

                                            path {
                                                fill: $notes;
                                            }
                                        }
                                    }

                                    &.reschdule {
                                        a {
                                            color: $btn-color;
                                            text-decoration: underline;

                                        }
                                    }

                                    &.completed {

                                        color: $todo-text;
                                    }
                                }


                            }
                        }

                        .more_wrap {

                            width: 130px;

                            a {
                                span {
                                    .nos {
                                        margin-left: 20px;
                                        float: right;
                                        @include border-radius(10px);
                                        padding: 3px 8px;
                                        font-size: 11px;
                                        color: $white-color;
                                        background: $reminder;
                                    }
                                }
                            }
                        }


                    }
                }

            }
        }


    }

}

/* end xray tab */

@media screen and (min-width : 1300px) and (max-width : 1470px) {
    .pmr_tab {
        .patient_order_wrap {
            .patient_order_head {
                .p_head {
                    &.sr {
                        width: 6%;
                    }

                    &.pno {
                        width: 7%;
                    }

                    &.phr {
                        width: 10%;
                    }

                    &.st {
                        width: 14%;
                    }
                }
            }

            .scroll_wrapper {
                .patient_order_detail {
                    .patient_order_content {
                        .patient_order_d {
                            &.sr {
                                width: 6%;
                            }

                            &.pno {
                                width: 7%;
                            }

                            &.phr {
                                width: 10%;
                            }

                            &.st {
                                width: 14%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 1024px) and (max-width : 1299px) {
    .pmr_tab {
        .patient_order_wrap {
            .patient_order_head {
                .p_head {
                    &.sr {
                        width: 6%;
                    }

                    &.pno {
                        width: 7%;
                    }

                    &.phr {
                        width: 10%;
                    }

                    &.st {
                        width: 14%;
                    }
                }
            }

            .scroll_wrapper {
                .patient_order_detail {
                    .patient_order_content {
                        .patient_order_d {
                            &.sr {
                                width: 6%;
                            }

                            &.pno {
                                width: 7%;
                            }

                            &.phr {
                                width: 10%;
                            }

                            &.st {
                                width: 14%;
                            }
                        }
                    }
                }
            }
        }
    }
}