.send-btn{
    margin-top: 24px;
    justify-content: center;
    display: flex;
    // width: 300px;
    margin-bottom: 30px;
}
.send-btn2{
    margin-top: 15px;
    justify-content: space-between;
    display: flex;
    width: 300px;
    margin-left: 16px;
}
.page_head2{
    display: flex;
    justify-content: space-between;
    padding: 12px 25px;
}
.page_head3{
    display: flex;
    justify-content: space-between;
    padding: 5px 29px;
}
.back-login{
    vertical-align: middle !important;
    cursor: pointer;
}