.prep_right_wrap{
    height:calc(100vh - 100px);
    width: calc(100% - 16%);
    padding: 7px 20px 7px 15px;
    margin-left: 16%;
    .main-title-bar{
        background: #609FAE;
        color: #FFFFFF;
        font-size: $font-18;
        font-weight: 300;
        padding: 8px 10px;
        text-align: center;
        margin: 0;
    }
    .box-border{
        border:1px solid #919A9F;
        @include border-radius(5px);
    }
    .pmr-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;

        .access-view{
            display: flex;
            align-items: center;
            .prev-c{
                display: inline-block;
                vertical-align: middle;
                text-align: left;
            }
            .selwd145{
                width: 145px;
                margin-right: 4px;
                padding: 0;
            }
            .inputForm.select{
                font-size: $font-12;
                font-weight: 300;
            }
        }
        .pmr-select {
            margin-right: 20px;
        }

        .pmr-select select{
            width: 100%;
            padding: 10px;
            border: 1px solid #919A9F;
            @include border-radius(5px);
            font-size: 12px;
            font-family: 'gilroy', sans-serif !important;
            font-weight: 600;
            color: #919A9F;
        }
        p {
            margin: 0;
            font-size: $font-10;
            color: #919A9F;
            span{
                display: block;
            }
        }
        h3 {
            font-size: $font-14;
            color: #1D1D20;
            margin: 0;
        }
        .btn {
            font-size: $font-14;
            padding: 0 40px;
            height: 28px;
        }
    }
    .resident-row{
        display: flex;
        .left-resident-pro{
            // height: calc(100vh - 220px);
            // overflow: hidden;
            // overflow-y: auto;
            // @include scrollbar();

            width: 40%;
            border-right: 1px solid #919A9F;
            .pro-title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #F3F3F3;
                padding: 9px 19px;
            }
            h3{
                font-size: $font-14;
                color: #1D1D20;
                font-weight: 700;
                font-family: "gilroy";
                margin: 0;
                text-align: left;
            }
        }
        .resident-detail {
            padding: 12px 19px;
            text-align: left;
            .note-numb {
                position: absolute;
                font-size: 9px;
                color: #fff;
                background: #609FAE;
                top: -7px;
                left: 6px;
                padding: 1px 3px;
                @include border-radius(5px);
                margin: 0;
            }
            .reminder-info {
                font-size: 10px !important;
                font-weight: 600 !important;
                color: #2D2D30;
            }
            .resident-desc-box{
                width: 33%;
            }
            .inner-res-block {
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
            }
            span.main{
                display: block;
                font-size: $font-13;
                font-weight: 600;
                color: #2D2D30;
                margin-bottom: 7px;
            }
            span.sub{
                display: block;
                font-size: $font-12;
                font-weight: 300;
                font-family: "gilroy";
                color: #2D2D30;
            }
        }
    }
    .rx-btns a button {
        font-size: $font-12;
        color: #919A9F;
        padding: 5px 15px;
        border: 1px solid #919A9F;
        @include border-radius(5px);
        background: #fff;
        margin-right: 9px;
        font-family: "gilroy" !important;
        font-weight: 300;
        font-family: 'gilroy', sans-serif;
    }
    .rx-btns {
        text-align: left;
        display: flex;
        justify-content: space-between;
        padding: 17px 17px 17px 0;
        align-items: center;
    }
    .notes-part {
        font-size: $font-10;
        font-weight: 600;
        color: #2D2D30;
        margin-left: 5px;
    }
    .note-count{
        display: flex;
            align-items: center;
            margin-right: 15px;
        p{
            position: absolute;
            font-size: 9px;
            color: #fff;
            background: #609FAE;
            top: -7px;
            left: 6px;
            padding: 1px 3px;
            @include border-radius(5px);
            margin: 0;
        }
       
    }
    .p-relative{
        position: relative;
        display: flex;
    }
    .order-com{
        color: #0BAA50;
        font-size: $font-12;
        font-weight: 600;
    }
    .flex-block{
        display: flex;
        align-items: center;
    }
}
.wd100{
    width: 100% !important;
  }

//   start popup style
.custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
  }
  .custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    margin: 30px auto;
    max-width: 97%;
  }
  .custom-model-wrap {
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    margin: auto;
    @include border-radius(5px);
    width: 573px;
    position: absolute;
    background-color: #fff;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
      }
      .ReactModalPortal .ReactModal__Overlay.ReactModal__Overlay--after-open{
        background-color: #0000009c !important;
        z-index: 99;
      }
 
  .task-detail{
    font-size: $font-13;
    color: #2D2D30;
    font-weight: 300;
    font-family: "gilroy";
    margin-right: 42px;
  }
  .task-detail:last-child {
    margin: 0;
}
  .popup-content h2{
    font-size: $font-20;
    color: #2D2D30;
    border-bottom: 1px solid #919A9F;
    padding-bottom: 8px;
    margin: 27px 0 8px 0;
    font-weight: 600;
    font-family: "gilroy";
  }
  .pmr-not-popup{

  }
  .laug-block {
    margin-bottom: 15px;
    display: flex;
}
.sub-text{
    font-size: $font-13;
    font-weight: 600;
    margin-bottom: 0;
    display: block;
}
.description-text {
    font-size: $font-12;
    color: #2D2D30;
    font-weight: 300;
    margin: 8px 0 22px 0;
    font-family: "gilroy";
}
.craig-icon{
    display: flex;
    align-items: center;
    margin: 0 30px 0 0;
}
.craig-icon span {
    font-size: $font-10;
    color: #2D2D30;
    font-weight: 300;
    margin-left: 5px;
    font-family: "gilroy";
}
.custom-model-wrap .close-btn{
    position: absolute;
    right: 5px;
    top: 8px;
    background: transparent;
    border: none;
}
.action-notes{
    background: #F9F9F9;
    padding: 16px 30px;
    margin: 0;
    display: flex;
}
.custom-model-wrap .close-btn:focus{
    outline: none;
}
.popup-content {
    padding: 0 30px;
}
/* start media  */
@media screen and (min-width: 1024px) and (max-width: 1320px) {
    .prep_right_wrap {
        width: calc(100% - 19%);
        margin-left: 19%;
    }
}
/* end media  */