.pmr_wrap {
    text-align: left;
    padding-top: 60px;

    &.defaultPasswordWrap{
        text-align: center;
        padding-top: 30px;
    }
}

.page_head {
    @include -flex-space-between;
    padding: 20px 15px;

    h3 {
        @include -flex-align(center);
        color: $black-font;
        margin: 0;
        font-size: 22px;
      
    }
    label{
        @include -flex-align(flex-start);
        color: $black-font;
        margin: 0;
        font-size: 19px;
        margin-left: 10px;
        width: 100%;
        text-align: center;
        h3{
            justify-content: center;
            width: 100%;
        }
        .r_no {
            margin-top: 1%;
            font-size: 55%;
            background: $btn-color;
            @include border-radius(10px);
            color: $white-color;
            padding: 3px 4px;
            margin-left: 10px;
            font-weight: normal;
        }
    }


}
@media screen and (min-width : 1700px) and (max-width : 2600px){
    .page_head{
        label{
            font-size: $font-25;
        }
        .form_group {
            .form_control{
                padding-right: 40px;
            }
            svg{
                top : 13px;
                right: 10px;
            }
        }
        h3{
            .r_no{
                font-size: $font-18 !important;
                padding : 3px 10px;
                @include border-radius(20px)
            }
        }
    }
}