$primary-color: #F97794;
$secondary-color: #41444E;
$secondary-light-color: #13880814;
$shadow-color: #e8e8e8;

$black-font: #2D2D30;
$background: #f2f4f7;
$tab-color: #262161;
$review-star-color: $primary-color;

$btn-color: #609fae;
$primary-button-hover: #72aebd;
$white-color: #ffffff;
$border-color : #919A9F;
$grey-button-hover : #a2abb1;
$notes : #FF7885;
$reminder : #6BB9CB;
$due-color : $notes;
$black-color : #1D1D20;

$grey-color : #ECECEC;
$grey-color-light : #F9F9F9;
$grey-border : #D4D4D4;
/*status color */
$phr-backround : #F3F6FF;
$phr-text : #2056ED;
$np-backround : #FFF6FA;
$np-text : #DF0069;
$todo-backround : #EFFFF6;
$todo-text : #0BAA50;
$edited-background : #FFF5F6;
$edited-text : #FF3347;


/*pagination colors*/
$active-page : rgb(21, 153, 197);

/*font sizes*/
$font-24 : 24px;
$font-23 : 23px;
$font-21 : 21px;
$font-19 : 19px;
$font-18 : 18px;
$font-17 : 17px;
$font-16 : 16px;
$font-25 : 25px;
$font-22 : 22px;
$font-20 : 20px;
$font-14 : 14px;
$font-15 : 15px;
$font-12 : 12px;
$font-13 : 13px;
$font-35 : 35px;
$font-10 : 10px;